
<%- include('../layouts/header') %>
<title>Checkout</title>
		<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/userSideCSS/ToastMessage.css">
<link rel="stylesheet" href="/checkOut/css/bootstrap.min.css">
		<!-- <link href="../../cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="/checkOut/css/all.min.css">
		
<link rel="stylesheet" href="/checkOut/css/tiny-slider.css">
		
<link rel="stylesheet" href="/checkOut/css/tiny-slider.css">

		
<link rel="stylesheet" href="userProfile/css/swiper10-bundle.min.css">

<link rel="stylesheet" href="userProfile/css/bootstrap-5.3.2.min.css">

<link rel="stylesheet" href="userProfile/css/nouislider.min.css">

<link rel="stylesheet" href="userProfile/css/aos-3.0.0.css">

<link rel="stylesheet" href="userProfile/css/style.css">

<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.1/dist/sweetalert2.min.css" rel="stylesheet">

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
		<title>Checkout</title>
	
		<style>
			a {
				text-decoration: none;
			}
			/* Basic styling for the payment options */
.payment-option {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    transition: all 0.3s ease-in-out;
    margin-bottom: 15px;
}

.payment-option:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.payment-option .h6 a {
    color: #343a40;
    text-decoration: none;
}

.payment-option .h6 a:hover {
    text-decoration: underline;
}

.payment-option .collapse {
    transition: height 0.3s ease-in-out;
}

/* Styling for the expanded (selected) state */
.payment-option.show {
    border-color: #007bff;
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.3);
}

.payment-option.show .h6 a {
    color: #007bff;
}

.payment-option.show:hover {
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.5);
}

.payment-option.show .collapse {
    height: auto;
}
.payment-option {
        cursor: pointer; /* Change cursor to pointer to indicate clickable */
        transition: background-color 0.3s ease; /* Smooth transition for background color */
    }

    .payment-option.selected {
        background-color: #949ea7; /* Background color when selected */
        border-color: #007bff; /* Border color when selected */
    }

    .payment-option.selected a {
        font-weight: bold; /* Bold text when selected */
    }

	.cm-header {
            margin: 20px 0;
            text-align: center;
        }
        .cm-container {
            padding: 20px;
        }
        .cm-card {
            background: #f8f9fa;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        .cm-card-info {
            margin-bottom: 20px;
        }
        .cm-card-actions {
            text-align: right;
        }
        .modal.fade .modal-dialog {
            transform: translateY(-100%);
            transition: transform 0.3s ease-out;
        }
        .modal.show .modal-dialog {
            transform: translateY(0);
        }
		#button-removeC{
			display: none ; 
		}
.wrap-menu-desktop{
	z-index: 1055;
}

#placeOrder:hover{
  background-color: #0d6efd;
  color: white;
}
#addressModal{
	display: none;
}
</style>

		<body class="animsition">
			<!-- Header -->
			<header>
			  <!-- Header desktop -->
			  <div class="container-menu-desktop">
				<!-- Topbar -->
				<div class="top-bar">
				  <div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
					  Free shipping for standard order over $100
					</div>
		  
					<div class="right-top-bar flex-w h-full">
					  <a href="#" class="flex-c-m trans-04 p-lr-25"> Help & FAQs </a>
					  <% if (user) { %>
						<a href="/myAccount" class="flex-c-m trans-04 p-lr-25"> My Account </a>
						<a href="/logout" class="flex-c-m trans-04 p-lr-25">Logout</a>
					  <% } else { %>
					  <a href="/login" class="flex-c-m trans-04 p-lr-25"> Login </a>
		  
					 <a href="/register" class="flex-c-m trans-04 p-lr-25">Register</a>
					<% } %>
					  <a href="#" class="flex-c-m trans-04 p-lr-25"> EN </a>
		  
					  <a href="#" class="flex-c-m trans-04 p-lr-25"> USD </a>
					</div>
				  </div>
				</div>
		  
				<div class="wrap-menu-desktop">
				  <nav class="limiter-menu-desktop container">
					<!-- Logo desktop -->
					<a href="/home" class="logo">
					  <img src="/images/icons/logo-01.png" alt="IMG-LOGO" />
					</a>
		  
					<!-- Menu desktop -->
					<div class="menu-desktop">
					  <ul class="main-menu">
						<li class="active-menu">
						  <a href="/home">Home</a>
						  <!-- <ul class="sub-menu">
							<li><a href="index.html">Homepage 1</a></li>
							<li><a href="home-02.html">Homepage 2</a></li>
							<li><a href="home-03.html">Homepage 3</a></li>
						  </ul> -->
						</li>
		  
						<li>
						  <a href="/shop_products">Shop</a>
						</li>
		  
						<!-- <li class="label1" data-label1="hot">
						  <a href="shoping-cart.html">Features</a>
						</li> -->
		  
						<!-- <li>
						  <a href="blog.html">Blog</a>
						</li> -->
		  
						<li>
						  <a href="/about">About</a>
						</li>
		  
						<li>
						  <a href="/contact">Contact</a>
						</li>
					  </ul>
					</div>
		  
					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
					  <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
						<i class="zmdi zmdi-search"></i>
					  </div>
		  
					  <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="2">
						<i class="zmdi zmdi-shopping-cart"></i>
					  </div>
		  
					  <a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="0">
						<i class="zmdi zmdi-favorite-outline"></i>
					  </a>
					</div>
				  </nav>
				</div>
			  </div>
		  
			  <!-- Header Mobile -->
			  <div class="wrap-header-mobile">
				<!-- Logo moblie -->
				<div class="logo-mobile">
				  <a href="/home"><img src="/images/icons/logo-01.png" alt="IMG-LOGO" /></a>
				</div>
		  
				<!-- Icon header -->
				<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				  <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				  </div>
		  
				  <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="2">
					<i class="zmdi zmdi-shopping-cart"></i>
				  </div>
		  
				  <a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti" data-notify="0">
					<i class="zmdi zmdi-favorite-outline"></i>
				  </a>
		  
				</div>
		  
				<!-- Button show menu -->
				<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				  <span class="hamburger-box">
					<span class="hamburger-inner"></span>
				  </span>
				</div>
			  </div>
		  
			  <!-- Menu Mobile -->
			  <div class="menu-mobile">
				<ul class="topbar-mobile">
				  <li>
					<div class="left-top-bar">
					  Free shipping for standard order over $100
					</div>
				  </li>
		  
				  <li>
					<div class="right-top-bar flex-w h-full">
					  <a href="#" class="flex-c-m p-lr-10 trans-04"> Help & FAQs </a>
		  
					  <a href="#" class="flex-c-m p-lr-10 trans-04"> My Account </a>
		  
					  <a href="#" class="flex-c-m p-lr-10 trans-04"> EN </a>
		  
					  <a href="#" class="flex-c-m p-lr-10 trans-04"> USD </a>
					</div>
				  </li>
				</ul>
		  
				<ul class="main-menu-m">
				  <li>
					<a href="/home">Home</a>
					<!-- <ul class="sub-menu-m">
					  <li><a href="/home">Homepage 1</a></li>
					  <li><a href="home-02.html">Homepage 2</a></li>
					  <li><a href="home-03.html">Homepage 3</a></li>
					</ul> -->
					<span class="arrow-main-menu-m">
					  <i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				  </li>
		  
				  <li>
					<a href="/shop_products">Shop</a>
				  </li>
		  
				  <!-- <li>
					<a href=" class="label1 rs1" data-label1="hot"
					  >Features</a
					>
				  </li>
		  
				  <li>
					<a href="blog.html">Blog</a>
				  </li> -->
		  
				  <li>
					<a href="/about">About</a>
				  </li>
		  
				  <li>
					<a href="/contact">Contact</a>
				  </li>
				</ul>
			  </div>
		  
			  <!-- Modal Search -->
			  <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
				<div class="container-search-header">
				  <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="/images/icons/icon-close2.png" alt="CLOSE" />
				  </button>
		  
				  <form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
					  <i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search..." />
				  </form>
				</div>
			  </div>
			</header>
		  
			<!-- Cart -->
			<div class="wrap-header-cart js-panel-cart">
				<div class="s-full js-hide-cart"></div>
			
				<div class="header-cart flex-col-l p-l-65 p-r-25">
				  <div class="header-cart-title flex-w flex-sb-m p-b-8">
					<span class="mtext-103 cl2"> Your Cart </span>
			
					<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					  <i class="zmdi zmdi-close"></i>
					</div>
				  </div>
			
				  <div class="header-cart-content flex-w js-pscroll">
				   
					<div class="w-full">
					  <!-- <div class="header-cart-total w-full p-tb-40">Total: $75.00</div> -->
			
					  <div class="header-cart-buttons flex-w w-full">
						<a href="/cart" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
						  View Cart
						</a>
			
						<a href="/cart" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
						  Check Out
						</a>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
		  

	

<!-- ----------------- Modal for showing coupons --------------------- -->


<div class="modal fade " id="couponListModal" tabindex="-1" role="dialog" aria-labelledby="couponListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="couponListModalLabel">Available Coupons</h5>
                <button type="button" class="close" id="closeModalBtn" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="couponList" class="row">
                    <!-- Dynamic coupon cards -->
                    <% if(coupons && coupons.length > 0) { %>
                        <% coupons.forEach((coupon,index) => { %>
                            <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                                <div class="card cm-card">
                                    <div class="card-body">
                                        <h4 class="card-title"><%= coupon.couponName %></h4>
										<div class="d-flex justify-content-between">
											<h6 class="card-subtitle mb-2 text-muted" >Code:</h6>
											<h6 class="card-subtitle mb-2 text-muted" id="code<%= index %>"> <%= coupon.couponCode %></h6>

											
											<button  onclick="copyText('<%= index %>')" class="btn btn-sm btn-info">Copy</button>
										</div>

                                      
                                        <p class="card-text">Discount: <%= coupon.discountPercentage %>%</p>
                                        <p class="card-text">Minimum Purchase Amount: <%= coupon.minPurchaseAmount %></p>
                                        <p class="card-text">Max Redeem Amount: <%= coupon.maxRedeemAmount %></p>
                                        <p class="card-text">Expiry Date: <%= coupon.expiryDate.toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' }) %></p>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <div class="col-12">
                            <p>No coupons found.</p>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="modalCloseBtn">Close</button>
            </div>
        </div>
    </div>
</div>



<!-- ============= close modal for showing coupons ====================== -->



		<div class="untree_co-section">
		    <div class="container">
		      <div class="row mb-5">
		        <div class="col-md-12">
		          <div class="border p-4 rounded" role="alert">
		          
		          </div>
		        </div>
		      </div>
			  <div class="row">
				<div class="col-md-6 mb-5 mb-md-0">
					<h2 class="h3 mb-3 text-black">Checkout</h2>
					<div class="p-3 p-lg-5 border bg-white">
						<div class="tab-pane fade show active" id="v-pills-address" role="tabpanel" aria-labelledby="v-pills-address-tab" tabindex="0">
							<div class="profile-section address-section addresses">
								<% if (addressData && addressData.addresses && addressData.addresses.length > 0) { %>
									
										<% addressData.addresses.forEach((address, index) => { %>
											<!-- <input type="hidden" value="<%= address._id %>" id="addressId<%= index %>>"> -->
											<div class="mb-4">
												<h5 class="mb-3">Address <%= index + 1 %></h5>
												<div>
													<label>
														<input type="radio" name="selectedAddress" value="<%= address._id %>" <% if (index === 0) { %>checked<% } %>>
														<strong>Name:</strong> <%= address.name %><br>
														<strong>Phone:</strong> <%= address.altPhone %><br>
														<strong>Locality:</strong> <%= address.locality %><br>
														<strong>Address:</strong> <%= address.address %><br>
														<strong>City:</strong> <%= address.city %><br>
														<strong>State:</strong> <%= address.state %><br>
														<strong>PIN:</strong> <%= address.pinCode %><br>
														<strong>Landmark:</strong> <%= address.landmark %><br>
														<strong>Type:</strong> <%= address.addressType %><br>
													</label>
												</div>
											</div>
										<% }); %>
										
									
								
									<!-- <p>No address found, add a new one</p>
									<div class="mt-4">
										<a href="/myAccount" class="btn btn-primary">Add New Address</a>
									</div> -->
								<% } %>
								<button class="btn btn-primary btn-sm" id="differentAddress" data-toggle="modal" data-target="#addressModal">Ship to a different address</button>
							</div>
						</div>
					</div>
				</div>

				<!-- Address modal  -->
				<div class="modal fade" id="addressModal">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
				
							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">Add Your Address</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
				
							<!-- Modal Body -->
							<div class="modal-body">
								<form id="addressForm" novalidate>
									<div class="form-group">
										<label for="firstname">Name:</label>
										<input type="text" class="form-control" id="firstname" name="userName" pattern="^[A-Za-z\s]+$" required>
										<div class="invalid-feedback">Please enter a valid name (letters and spaces only).</div>
									</div>
				
									<div class="form-group">
										<label for="locality">Locality:</label>
										<input type="text" class="form-control" id="locality" name="userLocality" required>
										<div class="invalid-feedback">Please enter your locality.</div>
									</div>
				
									<div class="form-group">
										<label for="userphone">Phone:</label>
										<input type="text" class="form-control" id="userphone" name="userAltPhone" pattern="^\d{10}$" required>
										<div class="invalid-feedback">Phone number must be 10 digits.</div>
									</div>
				
									<div class="form-group">
										<label for="useraddress">Address:</label>
										<input type="text" class="form-control" id="useraddress" name="userAddress" required>
										<div class="invalid-feedback">Please enter a valid address.</div>
									</div>
				
									<div class="form-group">
										<label for="userLandmark">Landmark:</label>
										<input type="text" class="form-control" id="userLandmark" name="userLandmark" pattern="^[A-Za-z0-9\s]+$" required>
										<div class="invalid-feedback">Please enter a valid landmark (No special characters allowed).</div>
									</div>
				
									<div class="form-group">
										<label for="userCity">City:</label>
										<input type="text" class="form-control" id="userCity" name="userCity" pattern="^[A-Za-z\s]+$" required>
										<div class="invalid-feedback">Please enter your city (letters and spaces only).</div>
									</div>
				
									<div class="form-group">
										<label for="userState">State:</label>
										<input type="text" class="form-control" id="userState" pattern="^[A-Za-z\s]+$" name="userState" required>
										<div class="invalid-feedback">Please enter your State (letters and spaces only).</div>
									</div>
				
									<div class="form-group">
										<label for="userPIN">PIN:</label>
										<input type="text" class="form-control" id="userPIN" name="userPIN" pattern="^\d{6}$" required>
										<div class="invalid-feedback">Please enter a valid PIN (6 digits).</div>
									</div>
			
									<div class="form-group">
										<label for="addressType">Type:</label>
										<select class="form-control" id="addressType" name="addressType" required>
											<option value="">Select Address Type</option> <!-- Add this option to enforce selection -->
											<option value="Home">Home</option>
											<option value="Work">Work</option>
										</select>
										<div class="invalid-feedback">Please select an address type.</div>
									</div>
				
									<button type="submit" class="btn btn-primary" style="height: 35px; width: fit-content;">Add Address</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				

				
				
		        <div class="col-md-6">

		          <div class="row mb-5">
		            <div class="col-md-12">
					<div class="d-flex justify-content-between">
						<h4 class="h3 mb-3 text-black">Coupon Code</h4>
						<div class="container cm-container">
							<div class="d-flex mb-4">
								<button id="showCouponsBtn" class="btn btn-secondary ml-2">Show Available Coupons</button>
							</div>
						</div>
					</div>
		              
					  
		              <div class="p-3 p-lg-5 border bg-white">

		                <label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
		                <div class="input-group w-75 couponcode-wrap">
		                  <input type="text" class="form-control me-2" id="c_code" placeholder="Coupon Code" aria-label="Coupon Code" aria-describedby="button-addon2">
						 
		                  <div class="input-group-append">
		                    <button class="btn btn-black btn-sm" type="button" id="button-addon2">Apply</button>
							<button class="btn btn-black btn-sm" type="button" id="button-removeC">Remove coupon</button>
		                  </div>
						  <p style="color: red; font-size: smaller; display: none;" id="errCoupon" >Please enter the coupon code</p>
		                </div>

		              </div>
		            </div>
		          </div>

				  <div class="row mb-5">
					<div class="col-md-12">
						<h2 class="h3 mb-3 text-black">Your Order</h2>
						<% if (cart && cart.cartItems && cart.cartItems.length > 0) { %>
				
						<div class="p-3 p-lg-5 border bg-white">
							<table class="table site-block-order-table mb-5">
								<thead>
									<tr>
										<th>Product</th>
										<th>Price</th>
										<th>Total</th>
									</tr>
								</thead>
								<tbody>
									<% cart.cartItems.forEach(item => { %>
									<tr>
										<td><%= item.productVariantId.variantName %> <strong class="mx-2">x</strong> <%= item.quantity %></td>
										<td><%= item.productVariantId.variantDiscountPrice %></td>
										<td><%= item.productVariantId.variantDiscountPrice * item.quantity %></td>
									</tr>
									<% }); %>
									<tr>
										<td class="text-black font-weight-bold" colspan="2"><strong>Cart Subtotal</strong></td>
										<td  class="text-black" id="cartSubTotal"><%= cartSubTotal %></td>
									</tr>
									<tr>
										<td class="text-black font-weight-bold" colspan="2"><strong>Coupon Discount</strong></td>
										<td class="text-black" id="couponDiscountTd">---</td>
									</tr>
									<tr>
										<td class="text-black font-weight-bold" colspan="2"><strong>Offer Discount</strong></td>
										<td class="text-black" id="offerDiscount"><%= offerDiscount %></td>
									</tr>

									<tr>
										<td class="text-black font-weight-bold" colspan="2"><strong>Delivery Charges</strong></td>
										<td class="text-black"><%= deliveryCharge %></td>
									</tr>
									<tr>
										<td class="text-black font-weight-bold" colspan="2"><strong>Order Total</strong></td>
										<td class="text-black font-weight-bold" id="grandTotalTD"><%= grandTotal %></td>
									</tr>
								</tbody>
							</table>
				
	
							<div class="border p-3 mb-3 payment-option" id="COD">
								<h3 class="h6 mb-0">
									<a class="d-block" onclick="selectPaymentOption('COD')">Cash on Delivery</a>
								</h3>
							</div>
							
							<div class="border p-3 mb-5 payment-option" id="Online-Payment">
								<h3 class="h6 mb-0">
									<a class="d-block"  onclick="selectPaymentOption('Online-Payment')">Online Payment</a>
								</h3>
							</div>
							
							
							
							<div class="form-group">
								<button class="btn btn-black btn-lg py-3 btn-block border border-info" id="placeOrder"
									onclick=submitForm()>Place Order</button>
							</div>
				
						</div>
						<% } else { %>
						<div class="alert alert-warning" role="alert">
							Your cart is empty.
						</div>
						<% } %>
					</div>
				</div>
				
		        </div>
		      </div>
		      <!-- </form> -->
		    </div>
		  </div>

		<!-- Start Footer Section -->
		<footer class="bg3 p-t-75 p-b-32">
			<div class="container">
			  <div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
				  <h4 class="stext-301 cl0 p-b-30">Categories</h4>
		
				  <ul>
					<li class="p-b-10">
					  <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Women </a>
					</li>
		
					<li class="p-b-10">
					  <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Men </a>
					</li>
		
					<li class="p-b-10">
					  <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Shoes </a>
					</li>
		
					<li class="p-b-10">
					  <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Watches </a>
					</li>
				  </ul>
				</div>
		
				<div class="col-sm-6 col-lg-3 p-b-50">
				  <h4 class="stext-301 cl0 p-b-30">Help</h4>
		
				  <ul>
					<li class="p-b-10">
					  <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
						Track Order
					  </a>
					</li>
		
					<li class="p-b-10">
					  <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Returns </a>
					</li>
		
					<li class="p-b-10">
					  <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Shipping </a>
					</li>
		
					<li class="p-b-10">
					  <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> FAQs </a>
					</li>
				  </ul>
				</div>
		
				<div class="col-sm-6 col-lg-3 p-b-50">
				  <h4 class="stext-301 cl0 p-b-30">GET IN TOUCH</h4>
		
				  <p class="stext-107 cl7 size-201">
					Any questions? Let us know in store at 8th floor, 379 Hudson St, New
					York, NY 10018 or call us on (+1) 96 716 6879
				  </p>
		
				  <div class="p-t-27">
					<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
					  <i class="fa fa-facebook"></i>
					</a>
		
					<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
					  <i class="fa fa-instagram"></i>
					</a>
		
					<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
					  <i class="fa fa-pinterest-p"></i>
					</a>
				  </div>
				</div>
		
				<div class="col-sm-6 col-lg-3 p-b-50">
				  <h4 class="stext-301 cl0 p-b-30">Newsletter</h4>
		
				  <form>
					<div class="wrap-input1 w-full p-b-4">
					  <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com" />
					  <div class="focus-input1 trans-04"></div>
					</div>
		
					<div class="p-t-18">
					  <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
						Subscribe
					  </button>
					</div>
				  </form>
				</div>
			  </div>
		
			  <div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
				  <a href="#" class="m-all-1">
					<img src="images/icons/icon-pay-01.png" alt="ICON-PAY" />
				  </a>
		
				  <a href="#" class="m-all-1">
					<img src="images/icons/icon-pay-02.png" alt="ICON-PAY" />
				  </a>
		
				  <a href="#" class="m-all-1">
					<img src="images/icons/icon-pay-03.png" alt="ICON-PAY" />
				  </a>
		
				  <a href="#" class="m-all-1">
					<img src="images/icons/icon-pay-04.png" alt="ICON-PAY" />
				  </a>
		
				  <a href="#" class="m-all-1">
					<img src="images/icons/icon-pay-05.png" alt="ICON-PAY" />
				  </a>
				</div>
		
				<p class="stext-107 cl6 txt-center">
				  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				  Copyright &copy;
				  <script>
					document.write(new Date().getFullYear())
				  </script>
				  All rights reserved | Made with
				  <i class="fa fa-heart-o" aria-hidden="true"></i> by
				  <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp;
				  distributed by
				  <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
				  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			  </div>
			</div>
		  </footer>
		
		  <!-- Back to top -->
		  <div class="btn-back-to-top" id="myBtn">
			<span class="symbol-btn-back-to-top">
			  <i class="zmdi zmdi-chevron-up"></i>
			</span>
		  </div>
		
		  <!-- Modal1 -->
		  <div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
			<div class="overlay-modal1 js-hide-modal1"></div>
		
			<div class="container">
			  <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
				<button class="how-pos3 hov3 trans-04 js-hide-modal1">
				  <img src="images/icons/icon-close.png" alt="CLOSE" />
				</button>
		
				<div class="row">
				  <div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
					  <div class="wrap-slick3 flex-sb flex-w">
						<div class="wrap-slick3-dots"></div>
						<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
		
						<div class="slick3 gallery-lb">
						  <div class="item-slick3" data-thumb="images/product-detail-01.jpg">
							<div class="wrap-pic-w pos-relative">
							  <img src="images/product-detail-01.jpg" alt="IMG-PRODUCT" />
		
							  <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-01.jpg">
								<i class="fa fa-expand"></i>
							  </a>
							</div>
						  </div>
		
						  <div class="item-slick3" data-thumb="images/product-detail-02.jpg">
							<div class="wrap-pic-w pos-relative">
							  <img src="images/product-detail-02.jpg" alt="IMG-PRODUCT" />
		
							  <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-02.jpg">
								<i class="fa fa-expand"></i>
							  </a>
							</div>
						  </div>
		
						  <div class="item-slick3" data-thumb="images/product-detail-03.jpg">
							<div class="wrap-pic-w pos-relative">
							  <img src="images/product-detail-03.jpg" alt="IMG-PRODUCT" />
		
							  <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-03.jpg">
								<i class="fa fa-expand"></i>
							  </a>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
		
				  <div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
					  <h4 class="mtext-105 cl2 js-name-detail p-b-14">
						Lightweight Jacket
					  </h4>
		
					  <span class="mtext-106 cl2"> $58.79 </span>
		
					  <p class="stext-102 cl3 p-t-23">
						Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus
						ligula. Mauris consequat ornare feugiat.
					  </p>
		
					  <!--  -->
					  <div class="p-t-33">
						<div class="flex-w flex-r-m p-b-10">
						  <div class="size-203 flex-c-m respon6">Size</div>
		
						  <div class="size-204 respon6-next">
							<div class="rs1-select2 bor8 bg0">
							  <select class="js-select2" name="time">
								<option>Choose an option</option>
								<option>Size S</option>
								<option>Size M</option>
								<option>Size L</option>
								<option>Size XL</option>
							  </select>
							  <div class="dropDownSelect2"></div>
							</div>
						  </div>
						</div>
		
						<div class="flex-w flex-r-m p-b-10">
						  <div class="size-203 flex-c-m respon6">Color</div>
		
						  <div class="size-204 respon6-next">
							<div class="rs1-select2 bor8 bg0">
							  <select class="js-select2" name="time">
								<option>Choose an option</option>
								<option>Red</option>
								<option>Blue</option>
								<option>White</option>
								<option>Grey</option>
							  </select>
							  <div class="dropDownSelect2"></div>
							</div>
						  </div>
						</div>
		
						<div class="flex-w flex-r-m p-b-10">
						  <div class="size-204 flex-w flex-m respon6-next">
							<div class="wrap-num-product flex-w m-r-20 m-tb-10">
							  <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
								<i class="fs-16 zmdi zmdi-minus"></i>
							  </div>
		
							  <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1" />
		
							  <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
								<i class="fs-16 zmdi zmdi-plus"></i>
							  </div>
							</div>
		
							<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
							  Add to cart
							</button>
						  </div>
						</div>
					  </div>
		
					  <!--  -->
					  <div class="flex-w flex-m p-l-100 p-t-40 respon7">
						<div class="flex-m bor9 p-r-10 m-r-11">
						  <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
							<i class="zmdi zmdi-favorite"></i>
						  </a>
						</div>
		
						<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
						  <i class="fa fa-facebook"></i>
						</a>
		
						<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
						  <i class="fa fa-twitter"></i>
						</a>
		
						<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
						  <i class="fa fa-google-plus"></i>
						</a>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		<!-- End Footer Section -->	

		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.11.1/dist/sweetalert2.all.min.js"></script>
         <script src="/js/userFunctions/checkout.js"></script>
		<script src="/checkOut/js/bootstrap.bundle.min.js"></script>
		
		<script src="/checkOut/js/tiny-slider.js"></script>
		
		<script src="/checkOut/js/custom.js"></script>

<%- include('../layouts/footer') %>
