<%- include('../layouts/header') %>


<title>Register</title>
<link rel="stylesheet" href="/css/register.css" />


<body>
  <div id="main">
    <div class="wrapper">
      <div class="inner">
        <form action="/register" method="post" onsubmit="return validateForm()">
          <h3>Registration Form</h3>
          <div class="form-wrapper">
            <% if (typeof message !== 'undefined') { %>
            <p style="color: red; margin-top: 10px" id="msg" ><%= message %></p>
            <br />
            <% } %>
            <!-- Placeholder for the error message -->
            <p id="error-message" style="color: red; margin-top: 10px"></p>
            <label>User Name</label>
            <input type="text" class="form-control" name="name" id="name" value="<%= old?.name || '' %>" />
          </div>
          <div class="form-wrapper">
            <label for="">Email</label>
            <input type="email" class="form-control" name="email" id="email" value="<%= old?.email || '' %>" />
          </div>
          <div class="form-wrapper">
            <label for="">Phone Number</label>
            <input type="tel" class="form-control" name="phone" id="phone" pattern="^\d{10}$" value="<%= old?.phone || '' %>" />
          </div>
          <div class="form-wrapper">
            <label for="">Password</label>
            <input type="password" class="form-control" name="password" id="password" value="<%= old?.password || '' %>" />
          </div>
          <div class="checkbox">
            Already a user?
            <a href="/login">Click here</a>
          </div>
          <button type="submit">Register Now</button>
        </form>
      </div>
    </div>
  </div>


  <script src="/js/userFunctions/register.js"></script>

</body>
<%- include('../layouts/footer') %>